* {
    margin: 0;
    padding: 0;
}
.scope {
    width: 1352px;
    margin: 20px;
}
.ad {
    height: 80px; 
    text-align: center;
    background: #52F8EA;              
}
.ad img {
    height: 100%;
}
