/*
* 一些样式的重置,以及一些公共样式
*/
a {
    text-decoration: none;
}
a:visited {
    color: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    box-sizing: border-box;
}
li {
    list-style: none;
}
i {
    font-style: normal;
}
.scope{
    margin: auto;
    width: 1190px;  
    min-width: 1190px;  
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*实现文本两端对齐*/
.justify::after {
    content:  '';
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
