/*
* 一些样式的重置,以及一些公共样式
*/

a {
    text-decoration: none;
}
a:visited {
    color: white;
}
* {
    box-sizing: border-box;
}
li {
    list-style: none;
}
i {
    font-style: normal;
}
.scope{
    margin: auto;
    width: 1190px;  
    min-width: 1190px;  
}
*{
    margin: 0;
    padding: 0;
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*实现文本两端对齐*/
.justify::after {
    content:  '';
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
div {
    box-sizing: border-box;
}
/*******************
****开始页面样式******
*******************/

/*
* 主包含容器，给侧边栏留下位置
*/

.container {
    padding-right: 35px;
    background: #F7F7F7;
}

/*
* 页面顶部样式,全部float:left
*/

.container > .header {
    height: 60px;
    background-color: rgb(30, 137, 224);
    color: #fff;
    font-size: 14px;
    line-height: 60px;
}

.header .header-wrap > *{
    float: left;
}
/*logo部分*/
.header .logo {
    font-size: 32px;
    margin-right: 35px;
}

/*导航部分*/

.header .nav .nav-item,
.header .toolBar .toolBar-item{
    list-style: none;
    float: left;    
}

.header .nav {
    margin-right :30px;
    font-size: 16px;
}
.header .nav .nav-item {
    color: #fff;
    width: 134px;
    text-align: center;
}
.header .nav .nav-item a,
.header .toolBar .toolBar-item a {
    display: block;
    height: 100%;
}
.header .nav .nav-item a:hover {
    background: #0c77d1; 
}
.header .nav .item-active,
.header .nav .item-active a:hover {
    background : #006bc7;    
}
.header .nav .nav-item i {
    position: absolute;
    margin-left: 60px;
    margin-top :3px;
}
.header .toolBar {
    font-size: 14px;
    margin-right: 70px;
}
.header .toolBar .toolBar-item a{
    width: 106px;
    text-align: center; 
    color:#d2e7f9;
}
.header .toolBar .toolBar-item a:hover {
    color: #fff;
}
.header .toolBar .toolBar-item .icon:before {
    display: inline-block;
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
}
/*二维码*/
.header .weixin {
    position: absolute;
    background: white;
    color: black;
    /*border: 1px solid #ccc;*/
    padding: 3px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: -10px;
    display: none;  
}
.header .weixin img {
    display: block;
}
.header .weixin::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    margin-top: -15px;
    margin-left: -13px;
}
.header .weixin-hover:hover + .weixin {
    display: block;
    z-index: 999;
}

/*用户登录/注册*/

.header .login .icon:before {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    margin-top: -3px;
}

/*
* 顶部下面的位置信息与搜索框
*/

.search-wrap {
    height: 51px;
    line-height: 51px;
    /*设置margin防止头部的float对文本的影响*/
    margin-top : 3px;
    text-align: justify;
}
.search-wrap .location,
.search-wrap .search {
    display: inline-block;
}
/*左边声明位置信息*/
.search-wrap .location {  
   color: #999;
   font-size: 12px;
}
.search-wrap .current-location {
    color: black;
    width: 30px;
    white-space: nowrap;    
}
.search-wrap .current-location:hover {
    color: #0089dc;
}
.search-wrap .change-location {
    color :#0089dc;
}
/*右边的搜索框*/
.search-wrap .search {
    text-align: right;
}
.search-wrap .search-border {
    display: inline;
    border : 1px solid #ccc;
    padding : 5px;            
}
.search-wrap .search-border > input {
    border-style: none;
    width: 240px;
	transition: width .3s ease-in-out;
}
.search-wrap .search-border > input:focus {
    width: 320px;
}
.search-wrap .search-border >a {
    color : #ccc;
    vertical-align: middle;
}
.search-wrap .search-border >a:before {
    font-size: 20px;
    color: inherit;
}
.search-wrap .search-border > a:hover {
    color: #0089dc;
}
/*
* 轮播图片动画
*/
.picBanner {
  height: 98px;
  overflow: hidden;  
  position: relative;
}

.picBanner .pictures,
.picBanner img {
  width: inherit;
  height: inherit;
}
/*通过margin负值来调整图片的位置*/
.picBanner .pictures {
    position: absolute;
    transition :margin-top .3s ease-in-out;
}

.picBanner .toggles {
    position: absolute;
    right: 10px;   
    bottom: 6px;        
}
.picBanner .toggles > li {
    background-color:rgba(255,255,255,.5);
    display: inline-block;
    line-height: 17px;
    font-size: 12px;
    text-align: center;
    margin : 0 2px;
}
.picBanner .toggles > li,
.picBanner .toggles > li > a,
.picBanner .toggles > li > input {
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.picBanner .toggles > li > a {
    display: inline-block;
    width: 100%;
    color: #999;
} 
.picBanner .toggles > li > input {
    opacity: 0;
    position: absolute;
}

.picBanner .toggles > li > input:checked + a {
    background-color: rgba(255,102,0,.8);
    color: white;
}

/*
* 外卖的分类区域
*/

.take-out-classify {
    color: black;
    margin-top: 10px;            
}
/**
* 图片的样式
*/
.take-out-classify > .img,
.take-out-classify > .img > img {
    height: 55px;
}
.take-out-classify > .img {
    text-align: right;
}
.take-out-classify > .img > img {
    width: 186px;
}
/**
* 外卖分类选择区域的样式
*/
/* 外卖分类*/
.take-out-classify .wrap {
    margin-top: -5px;
	border: 1px solid #E6E6E6;
}
.take-out-classify .classify {
    background-color: white;
    font-size: 14px;
    width: 100%;
    height: 56px;
    padding: 10px;
}
.take-out-classify .classify > li {
    display: inline-block;
    width: 76px;
    height: 26px;            
    vertical-align: middle;
    line-height: 26px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    color: #666;    
}
.take-out-classify .classify .active {
    color: white;
    background: #0089DC;
    border-radius: 5px;
} 
.take-out-classify .classify .label {
    width: 81px;
    color: #999;
}
.take-out-classify .classify .hot {
    color: red;
}


/* 外卖排序的样式*/
.take-out-classify .sort {
    background-color: #F6F6F6;
    height: 40px;
    line-height: 40px;
    padding: 0 13px;
    font-size: 14px;
    text-align: justify;
}
.take-out-classify li {
    cursor: pointer;
}
.take-out-classify .value-sort, 
.take-out-classify .type-sort{
    display: inline-block;
}
.take-out-classify .sort > ul > li {
    display: inline-block;
}
.take-out-classify .value-sort {
    color: #666;
}
.take-out-classify .active{
    color: #0089DC;
}
.take-out-classify .value-sort > li {
    padding: 0 7px;
}
.take-out-classify .drop-down,
.take-out-classify .drop-down-price {
    position: relative;  
}
.take-out-classify .drop-down-body{
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    padding-left: 10px;
    z-index: 999;
}
.take-out-classify .drop-down-price > .icon-arrow-up,
.take-out-classify .drop-down > .icon-arrow-up{
    display: none;
}
/*下拉菜单hover之后的样式*/
.take-out-classify .drop-down-price:hover,
.take-out-classify .drop-down:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);    
    background: white; 
}
.take-out-classify .drop-down-price:hover > .drop-down-body,
.take-out-classify .drop-down:hover > .drop-down-body {
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);    
    background: white;
}
.take-out-classify .drop-down-price:hover > .icon-arrow-down,
.take-out-classify .drop-down:hover > .icon-arrow-down{
    display: none;
}
.take-out-classify .drop-down-price:hover > .icon-arrow-up,
.take-out-classify .drop-down:hover > .icon-arrow-up{
    display: inline;
}

.take-out-classify .type-sort {
    color: #333;
    padding-left: 5px;
    border-left: 1px solid #E6E6E6; 
}
.take-out-classify .type-sort input,
.take-out-classify .type-sort span {
    vertical-align: middle;
    margin-right: 3px;
}
/**
* 商铺的样式
*/
.shops {
    border: 1px solid #E6E6E6;
    margin-top: 40px;
    box-sizing: border-box;
}
.shop {
    /*border: 1px solid #ccc;*/
    display: inline-block;
    font-size: 9pt;
    width: 25%;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
.shop .right {
    position: absolute;
    left: 110px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}
.shop .left,
.shop .right {
    display: inline-block;
}
.shop .left {
    text-align: center;
    width: 110px;
    padding:20px;
    white-space: normal;
}
.shop .left .logo {
    width: 100%;
}
.shop .left span {
    color : #999;
    font-size: 9pt;
}
.shop .right {
    vertical-align: baseline;
}
.shop:hover .right .title {
    color: #0089DC;
}
.shop .right .title {
    font-size: 1pc;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    margin-bottom: 6px;
    overflow: hidden;
}
.shop .right .star-sales {
    position: relative;
    margin-bottom: 6px;
}
.shop .right .star-base {
    vertical-align: baseline;
}
.shop .right .star-sales .star-base::before {
    color : #ccc;
}
.shop .right i::before {
    color: #FFC30C;
    position: absolute;
    left: 0;
    font-size: 9pt;
    top: 1px;
}
.shop .sales,
.shop .take-out-info {
    color: #999;
}
.shop .icons {
    color: white;
    margin-top: 7px;
}
.shop .icons i {
    padding : 2px;
    border-radius: 2px;
    font-size:12px;
    line-height: 16px;
    width: 18px;
}
.shop + .shopInfo:hover {
    display: block;
}
/*商铺被hover之后出现的商铺信息的样式
* 分四种情况，一种是以底边对齐向上，一种是以顶边对齐向下
* 一种出现在左边，一种出现在右边
*/
.shopInfo {
    position: absolute;
    width: 100%;
    background: white;
    color: black;
    border: 2px solid #ccc;
    padding: 20px;
    padding-bottom: 30px;    
    display: none;
    white-space: normal;
}
.shopInfo-top {
    top: 20px;
}
.shopInfo-bottom {
    bottom: 20px;
}
.shopInfo-left {
    left: -100%;
}
.shopInfo-right {
    right: -100%;
}

/*小三角*/
.shopInfo::before,
.shopInfo::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: inherit;
    border-right-color:transparent;
    border-bottom-color: transparent;
    background: inherit;
    display: none;
}
.shopInfo-top::before {
    display: block;
}
.shopInfo-bottom::after{
    display: block;
}
.shopInfo-left::after,
.shopInfo-left::before {
    transform: rotate(135deg);
    right: -5px;
}
.shopInfo-right::after,
.shopInfo-right::before {
    transform: rotate(-45deg);
    left: -5px;
}
/*shopInfo内部元素的样式*/
.shopInfo .sperator {
    vertical-align: top;
    color: #999;    
}
.shopInfo .shopTitle {
    font-size: 25px;    
    font-weight: 200;
    border-bottom: 1px solid #ccc;
    margin-top: -10px;
    height: 50px;
    line-height: 40px;       
}
.shopInfo .shopIcon {
    margin: 10px 0;
}
.shopInfo .shopIcon i{
    color: white;
    border-radius: 2px;
    padding :2px;
    line-height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}
.shopInfo .shopIcon span {
    color: #999;
}
.shopInfo .takeaway-sale {
    background: #E6E6E6;
    margin-top:20px;
    margin-bottom: 10px;
    padding: 5px;
}
.shopInfo .takeaway-sale span{
    margin-right: 3px;
}
.shopInfo .takeaway-sale em {
    color: red;
    font-style: normal;
} 
.shopInfo .shopIntro {
    color:　#E6E6E6;
}


/*
* 页面侧边栏
*/

.slideBar {
    position: fixed;
    color:rgb(51, 51, 51);
    background-color:#E6E6E6;
    width: 295px;
    top: 0;
    bottom: 0;  
    right: 0;
    transform: translateX(260px);
}
.slideBar > .slideList {
    position: absolute;
    width: 35px;
    background: #504D53;
    color: #ccc;
    top:0;
    bottom: 0;
    left: 0;
    text-align: center;
}   
.slideList .active {
    background: #26A2FF;
    color: #fff;
}
.slideList .icon:hover {
    background: #26A2FF;
    color: #fff;
}
.slideList .icon::before {
    font-size: 20px;
    font-weight: 400;
}
.slideList  .icon {
    cursor: pointer;
}
.slideList .order,
.slideList .notice,
.slideList .history,
.slideList .QR-code,
.slideList .service {
    line-height: 30px;
} 
.slideList .order {
    margin-top: 90px;
    line-height: 50px;
}
.slideList .seprator {
    margin: 0 8px;
    background: #737074;
    height: 1px;
}
.slideList .cart {
    font-weight: 700;    
    font-size: 14px;
    padding:8px 8px;        
}
.   slideList .notice {
    margin-top: 15px;
    margin-bottom: 20px;
}
.slideList .history {
    margin-bottom: 130px;
}
.slideList .QR-code {
    margin-bottom: 20px;
}
.slideList .service {
    margin-bottom: 20px;
}
.slideList .icon-top {
    display: none;
}

.slideBar > .cart {
    padding-left: 35px;   
}
.slideBar > .cart > .header {
    color: #333;
    font-size:　16px;   
    height: 35px;
    line-height: 35px;
    background: white;
    box-shadow: 0px 1px 1px #ccc;
    text-indent: 1em;
}
.slideBar > .cart > .header::before {
    float: right;
    margin-right: 10px;
}
.slideBar > .cart > .body {
    padding-top: 50px;
    text-align: center;
}

.slideBar > .cart > .body > span {
    font-size: 50px;
    color: #999;
}
.slideBar > .cart > .body > h3{
    color: #333;
    margin-top:20px;
}
.slideBar > .cart > .body > p {
    font-size: 9pt;
    color: #999;    
}

/**
* 页脚
*/
.footer {
    height: 284px;
    margin-top: 157px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.footer .footer-contect,
.footer .footer-link,
.footer .footer-mobile {
    vertical-align: top;
}
.footer > .footer-link {
    display: inline-block;
    vertical-align: top;
    margin-right: 120px;
}
.footer > .footer-link > h3 {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}
.footer > .footer-link  li {
    font-size: 9pt;
    color: #999;
    line-height: 24px;
}
.footer > .footer-connect {
    display: inline-block;
    color: #666;
    font-size: 14px;
}
.footer > .footer-mobile {
    display: inline-block;
}
.footer > .footer-connect {
    font-size: 14px;
    padding-left: 3%;
    border-left: 1px solid #E6E6E6;
    width: 23%;
}
.footer > .footer-connect  .footer-connect-item {
    margin-bottom: 20px;    
}
.footer .footer-connect-item > i {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;    
}
.footer .footer-connect-item > .icon-wechat:hover {
    color: green;
}
.footer .footer-connect-item > .icon-weibo:hover {
    color: red;
}
.footer .footer-connect-item > .icon-renren:hover {
    color: blue;
} 
.footer > .footer-mobile {
    width: 265px;
    float: right;    
}
.footer > .footer-mobile img {
    height: 90px;
    width: 90px;
    float: left;
    margin-right: 20px;
}
.footer > .footer-mobile .footer-mobile-info {
    vertical-align: middle;
}
.footer > .footer-mobile .footer-mobile-info h3 {
    font-size: 1pc;
    margin-top: 20px;
}
.footer > .footer-mobile .footer-mobile-info p {
    font-size:9pt;
    color: #666;
    margin-top: 5px;
}