/*头部的广告*/
body {
    width: auto;
    min-width: 990px;
    background-color: transparent;
}
.site-ad {
    height: 80px; 
    text-align: center;
    background: #52F8EA;              
}
.site-ad img {
    height: 100%;
}
.site-nav {
    font-size: 12px;
    color: #999;
    height: 32px;
    line-height: 32px;
    min-width: 990px;
    background: #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.site-nav a:visited {
   color: #999; 
}
.site-nav a:hover,
.quick-menu .tiny-menu:hover > .menu-header {
    color: #C40000;
}
.site-nav .site-wrap {
    position: relative;
    left: -15px;
    width: 1230px;  
}
.site-nav .quick-menu {
    position: absolute;
    right: 0;
    top:0;
}
.site-nav .quick-menu > li {
    float: left;
    position: relative;
}
.site-nav .site-login,
.site-nav .site-register {
    padding-left: 20px;
    padding-right: 10px;
}
.site-nav .nav-wrap {
    position: relative;
    left: -15px;
}
/*快捷导航条*/
.quick-menu {}

.quick-menu .item {
    padding:  0 10px;
}
.quick-menu .dropdown-icon {
	position: absolute;
	right: 5px;
	top: 15px;
	height: 0px;
	border-width: 3px;
	border-style: solid dashed dashed;
	border-color: #BBB transparent transparent;
	font-size: 0px;
	line-height: 0;
}
.quick-menu .tiny-menu {
    padding-right: 14px;
    border-width: 0px 1px;
    border-color: transparent;  
    border-style: solid;
}
.quick-menu .tiny-menu > a {
    display: block;
}
.quick-menu .tiny-menu:hover {
    border-width: 0px 1px 1px 1px;
    background: white;
    border-color: #eee;
    border-bottom-color: white;
}
.quick-menu .tiny-menu:hover > .menu-body,  
.quick-menu .tiny-menu:hover > .menu-body-seller,
.quick-menu .tiny-menu:hover > .menu-body-sitemap {
    display: block;
}
.quick-menu .tiny-item {
    white-space: nowrap;
}
.quick-menu .tiny-item:hover {
    text-decoration: underline solid #c40000;
}
.quick-menu .menu-body {
    color: #666;
    position: absolute;
    display: none;  
    border-color: #eee;
    border-style: solid;
    border-width: 0px 1px 1px;
    line-height: 1.4;   
    padding: 8px 10px; 
}
.quick-menu .menu-body-left {
    left: -1px;
}
.quick-menu .menu-body-right {
    right: -1px;
}
.quick-menu .item-separator {
    margin-left: 5px;
    margin-right: 2px;
    padding:0;
    margin-top:9px;
    height: 14px;
    width: 0;
    border-left: 1px solid #ccc;
}
.quick-menu .item-mobile .pic-mobile {
    display: none;
    position: absolute;
    margin-top: 0px;
    margin-left: -53px;
    box-shadow: #AAA 0px 0px 5px 0px;
}
.quick-menu .item-mobile .pic-mobile::after {
    /*小三角*/
    content: '';
    width: 0px;
    height: 0px;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -2px;
    border-width: 5px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #FFF;
} 
.quick-menu .item-mobile:hover .pic-mobile{
    display: block;
}

.quick-menu .menu-body-seller {
    position: absolute;
    width: 112px;
    padding: 8px 10px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #EEE;
    line-height: 1.6;
    display: none;
}
.quick-menu .menu-body-seller > li{
    padding: 5px 0;  
    border-bottom: 1px dtted #827777;
    display: block                    
}
.quick-menu .menu-body-seller a{
    display: inline-block;
    width: 48px;
    margin-right: 5px;   
}
/*快捷导航条最后一个导航*/
.quick-menu .menu-body-sitemap {
    position: absolute;
    width: 1198px;
    padding: 25px 0px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #EEE;
    line-height: 1.4; 
    display: none;   
}
.quick-menu .menu-body-sitemap .site-cont {
    height: 200px;
    padding-left: 30px;
    overflow: hidden;
}
.quick-menu .menu-body-sitemap .site-hot,
.quick-menu .menu-body-sitemap .site-market,
.quick-menu .menu-body-sitemap .site-brand {
    float: left;
}
.quick-menu .menu-body-sitemap .site-hot {
    width: 275px;
} 
.quick-menu .menu-body-sitemap .site-market {
    width: 375px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}
.quick-menu .menu-body-sitemap .site-brand {
    width: 270px;
    border-right: 1px solid #F5F5F5;
}
.quick-menu .menu-body-sitemap .site-help {} 
.quick-menu .site-cont h2 {
    font-family: "微软雅黑",arial,"宋体";
    font-size: 16px;
    padding-bottom: 8px;
}    
.quick-menu .site-cont li {
    width: 95px;
    float: left;
    padding: 6px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quick-menu .site-cont li > a {
    white-space: nowrap;
} 
.quick-menu .site-list {
    margin-right: -20px;
    overflow: hidden;
}
.quick-menu .site-hot > h2,
.quick-menu .site-hot  a:hover {
    color: #F56A00;
}
.quick-menu .site-market > h2,
.quick-menu .site-market a:hover {
    color: #2263D4;
}
.quick-menu .site-brand > h2,
.quick-menu .site-brand a:hover {
    color: #000;
}
.quick-menu .site-help > h2 ,
.quick-menu .site-help a:hover {
    color: #666;
}
.quick-menu .site-hot a:hover {
    text-decoration: underline solid #F56A00;
}
.quick-menu .site-market a:hover {
    text-decoration: underline solid #2263D4;
}
.quick-menu .site-brand a:hover {
    text-decoration: underline solid #000;
}
.quick-menu .site-help a:hover {
    text-decoration: underline solid #666;
}

/*搜索部分*/

.site-search {
    min-width: 990px;
    height: 130px;
    background-image: url('../images/header.png');
    background-repeat: repeat;
    background-position: center center;
}
.site-search a:visited {
    color: blue;
}
.site-search .search {
    width: 625px;
    margin: auto;
    padding-top: 38px;
    overflow: hidden;
}   
.site-search .search-content {

}
.site-search .search-input {
    width: 491px;
    height: 36px;
    font-size: 14px;
    padding: 5px;
    border: 2px solid #C40000;
	box-sizing: border-box;
	background: transparent none repeat scroll 0px 0px;
    vertical-align: bottom;
}
.site-search .search-button {
    height: 36px;
    width: 132px;
    background: #c40000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    border: none;   
}
.site-search .search-list {
    height: 18px;
    font-size: 14px;    
    padding: 8px 0 0;
    margin-left: -13px;
    overflow: hidden;
}
.site-search .search-list .search-highlight {
    color: #C40000;
}
.site-search .search-list li {
    display: inline-block;
    padding: 0 12px;
    line-height: 1.1;
    border-left: 1px solid #ccc;
    cursor: pointer;
}
/*主导航部分*/
.main-nav {
    height: 36px;
    background-color: #dd2727;
    line-height: 36px;
}
.main-nav .extra-list,
.main-nav .category-list {
    float: left;
}
.main-nav .extra-list {
    position: relative;
    width: 200px;
}
.main-nav .extra-item {
    float: left;    
    width: 100px;
}
.main-nav .extra-header {
    width: 100px;
    font-size:14px;
    text-align: center;
    cursor: pointer;
}
.main-nav .extra-body{
    position: absolute;
    left: 0;
    display: none;
    width: 200px;
}
.main-nav .category-list {}
.main-nav .category-list > li {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: block;
}
.main-nav .category-list img {
    width: 90px;
    height: 36px;
}
.main-nav .hover-pic {
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAA8CAMAAACAT24UAAAAgVBMVEUAAADeKCjeJyfeKSneJyfeJyfdKCjhKirhKireJyffKCjiLCziLi7eKCjeJyffKCjfKSnhKCj/Y2PeJyfeJyfeKCjeKCjeKCjkMjLdJyfeKCjeJyfeJyfeJyfeKCjgLCzoOjreJyfeJyfdKCjeKCjeKCjdKCjgKCjeJyfhKirdJydKcfmVAAAAKnRSTlMAlN1Eycr7JiGvXBcR7th/PjQC5NK6kWgO68e3nYlwHQf18b6jjFNIdSuNN7c5AAABTUlEQVRYw+3V2W7CMBRF0QMUZyADkJCEeYb2/P8HNhFDSZxUKjhGqrwe7YetK13LeKvMtjZo0cAaoMwLY+aCpYU2jF1nS9J3zvjh7nglOhmU68W8mdzHXfFBYEOxTz7oXqsjlkRrKBWyZH45nbMszqCQy4ohcmtWTcZQZihYsUAupaQDVewpq3zkFpSlUCMLKCs2tU+Z6EGF8Zw1TsBGsIZvQYGEdcJij2oFHl6WstZBeqUKV3goWGuSX7FBomZxZTOgxyZLvMLqskH/tygd+4V/xSefmDQnkhGe4bkxm31IUakbdf/Mp0SKqmeiJiozURM1URPVo2+iD0zURE3URGv9j+gM+KJuDuBRtw6AgJq5eXRJvYSXRy1BrRwUFtRJWCgMImoU4mK0pTYOboZTanLY4M7eU4fdCiXnvWDLouMAVd5pdey0JQnTEd7rGzvxPwBZgl5TAAAAAElFTkSuQmCC") no-repeat scroll 0% 0% / 40px 15px;
	display: block;
	position: absolute;
	width: 40px;
	height: 15px;
	top: 0px;
	left: 50%;
	transform: translate(-20px, -5px);
	opacity: 0;
}
.main-nav li:hover .hover-pic {
	opacity: 1;
	transition: opacity 0.4s ease 0s, transform 0.4s ease 0s;
	transform: translate(-20px, -10px);
}

/*商品分类以及狂欢会场的样式*/
.main-nav .extra-active {
    display: block;
}

/*商品分类的样式*/
.main-nav .extra-shopClassify .extra-header{
    color: #fff;
}
.main-nav .extra-shopClassify-active {
    background: rgba(238, 238, 238, 0.95);
}
.main-nav .extra-shopClassify-active .extra-header{
    color: #dd2727 !important;
}
.main-nav .extra-shopClassify-active .extra-body {
    display: block;
}
.main-nav .extra-shopClassify .extra-body {
    height: 500px;  
    background: rgba(238, 238, 238, 0.95);
}
.main-nav .extra-shopClassify .extra-body > li {
    height: 31.2px;
    line-height: 31.2px;
    font-size: 14px;
    color: #000;
}
.main-nav .extra-shopClassify .extra-body .g-nav-icon {
    margin-left: 14px;
    margin-right: 4px; 
}
.main-nav .extra-shopClassify .shopClassify-body {
    position: absolute;
    top: 0;
    left: 100%;
    height: 500px;
    width: 852px;
        
}

/*狂欢会场的样式*/
.main-nav .extra-meeting .extra-header{
    color: #ffe013;   
}
.main-nav .extra-meeting-active{
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=") repeat scroll 0% 0%;
}
.main-nav .extra-meeting-active .extra-header{
    color: #fff;
}
.main-nav .extra-meeting-active .extra-body {
    display: block;
}
.main-nav .extra-meeting .extra-body {
     background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=") repeat scroll 0% 0%;
     padding-top:29px;
     height: 500px; 
     box-sizing: border-box;
}
.main-nav .extra-meeting .extra-body > li {
    margin: 0px 24px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    border: 1px solid #CB0C10;
    border-radius: 10px;
    color: #fff;
}
.main-nav .extra-meeting .extra-body > li:hover {
    background: #CB0C10;
}


