.site-ad {
    height: 80px; 
    text-align: center;
    background: #52F8EA;              
}
.site-ad img {
    height: 100%;
}
.site-nav {
    font-size: 12px;
    color: #999;
    height: 32px;
    line-height: 32px;
    min-width: 990px;
    width: auto;
    background: #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.site-nav a:visited {
   color: #999; 
}
.site-nav a:hover {
    color: #C40000;
}

.site-nav .quick-menu {
    position: absolute;
    right: 0;
    top:0;
}
.site-nav .quick-menu > li {
    float: left;
    position: relative;
}
.site-nav .site-login,
.site-nav .site-register {
    padding-left: 20px;
    padding-right: 10px;
}
.quick-menu .item {
    padding:  0 10px;
}
.quick-menu .item-mytaobao {
    padding-right: 14px;
}
.quick-menu .dropdown-icon {
	position: absolute;
	right: 5px;
	top: 15px;
	width: 0px;
	height: 0px;
	border-width: 3px;
	border-style: solid dashed dashed;
	border-color: #BBB transparent transparent;
	font-size: 0px;
	line-height: 0;
}
.quick-menu .tiny-menu:hover {
    background: white;
}
.quick-menu .tiny-menu:hover > .menu-body{
    background: white;
    display: block;
}
.quick-menu .menu-body {
    color: #666;
    position: absolute;
    margin-top: 0px;
    margin-left: -11px;
    width: 92px;   
    display: none;
    border-color: #eee;
    border-style: solid;
    border-width: 0px 1px 1px;
    line-height: 1.4;   
    padding: 8px 10px; 
}
