
/*全局的范围设置*/
.scope {
   width: 1230px;
   margin: auto; 
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
* {
    padding : 0;
    margin: 0;
}
i,
em {
    font-style: normal;    
}
li {
    list-style: none;
}
.container {
    padding-right: 35px;
}
.container > .header {
    background: #F2F2F2;
    color: #999;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    border : 1px solid #E5E5E5;
    position: relative;
}
.container > .header .login .login-in {
    padding-left: 20px;
    padding-right: 10px;
}
.container > .header .tool {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
}
.container > .header .tool > li {
    float: left;
}